@use "../../../../assets/styles/helpers/index" as *;

.shared-social {
  font-weight: 500;
  color: var(--color-title-second);
  margin-bottom: rem(60);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: rem(15);
  button {
    color: currentColor;
  }
}
