<section class="auth">
  <div class="auth__inner container">

    <section class="auth-info">
      <h3 class="auth-info__title">Войти в личный кабинет</h3>
      <div class="auth__form" [formGroup]="loginForm">

        <label class="auth__form-label">

          <input class="auth__form-input" type="email" placeholder="Электронная почта" formControlName="email"
                 [class.invalid]="(loginForm.get('email')?.invalid &&
               (loginForm.get('email')?.dirty || loginForm.get('email')?.touched))">

          <div class="auth__form-error-text" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
            <span *ngIf="loginForm.get('email')?.errors?.['required']">Email обязателен.</span>
            <span *ngIf="loginForm.get('email')?.errors?.['email']">Введите корректный email.</span>
          </div>

        </label>

        <label class="auth__form-label">

          <input class="auth__form-input" type="password" placeholder="Пароль" formControlName="password"
                 [class.invalid]="(loginForm.get('password')?.invalid &&
               (loginForm.get('password')?.dirty || loginForm.get('password')?.touched))">

          <div class="auth__form-error-text"
               *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">

            <span *ngIf="loginForm.get('password')?.errors?.['required']">Пароль обязателен.</span>

          </div>

        </label>

        <label class="auth__form-checkbox-label">
          <input class="auth__form-checkbox-input" type="checkbox" formControlName="rememberMe">
          <span>Запомнить меня</span>
        </label>

        <button type="button" class="auth-info__button button"
                (click)="login()"
                [disabled]="loginForm.invalid">
          Войти
        </button>

      </div>
      <p class="auth-info__text">
        Нет аккаунта?
        <a routerLink="/signup" class="auth-info__link">Пройдите регистрацию</a>
      </p>
    </section>

    <div class="auth__image">
      <img class="auth__image-img" src="./assets/images/auth-views/login-image.png" alt=" ">
    </div>

  </div>
</section>
