<section class="article">

  <div class="article__inner container">

    <div class="article__head">

      <div class="crumbs">
        <a routerLink='/articles' class="crumbs__link" title="Вернуться ко всем статьям">Блог</a>
        <span class="crumbs__default">{{ detailsArticle.title }}</span>
      </div>

      <section class="article-main">

        <div class="article-main__info">

          <h1 class="article-main__title">{{ detailsArticle.title }}</h1>

          <p class="article-main__text">{{ detailsArticle.description }}</p>

        </div>

        <figure class="article-main__image">
          <img src="{{pathToImage + detailsArticle.image}}" alt="Изображение для статьи">
        </figure>

      </section>

    </div>
    <article class="backend-content" [innerHTML]="sanitizedHtml">
      <!--   тут будет контент полученный с бэка   -->
    </article>

    <section *ngIf="relatedArticles && relatedArticles.length > 0" class="article__related">
      <h4 class="article__related-title">Читайте также:</h4>
      <div class="article__related-articles">
        <app-article-card *ngFor="let article of relatedArticles" [article]=article></app-article-card>
      </div>
    </section>


    <div class="article__comments">

      <app-share-to-social [articleUrl]="detailsArticle.url"
                           [articleTitle]="detailsArticle.title">
      </app-share-to-social>

      <app-comments *ngIf="detailsArticle?.id"
                    [articleId] = detailsArticle.id
                    [comments] = detailsArticle.comments
                    [allCountComments] = detailsArticle.commentsCount
      (userAddComment) = "loadArticle()">
      </app-comments>

    </div>

  </div>

</section>
