@use "../../../../assets/styles/helpers/index" as *;

.header {
  background-color: var(--color-bg-main);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
  }

  &__overlay {
    display: contents;
    font-size: rem(16);

    @include mobile {
      z-index: 999;
      font-size: rem(22);
      position: fixed;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow-y: auto;
      row-gap: 3rem;
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.31);
      backdrop-filter: blur(6px);
      opacity: 1;
      transition: opacity, translate, var(--transition-base-time) ease-in-out;

      &:not(.is-active) {
        opacity: 0;
        translate: 100%;
      }

    }

  }

  &__menu {
    display: flex;
    align-items: center;
    max-width: 85%;
    flex-grow: 1;
    justify-content: space-between;
    font-weight: 500;
    color: var(--color-text-base);
    @include tablet {
      display: contents;
    }

    &-list {
      display: flex;
      column-gap: rem(30);
      @include mobile {
        flex-direction: column;
        row-gap: 1rem;
      }
    }

    &-item {
      text-align: center;
    }

    &-link {
      white-space: nowrap;
      color: currentColor;

      @include flex-center(true);
      @include hover-menu-link();

      &.is-active {
        pointer-events: none;
        color: var(--color-title-second);
      }

      @include mobile {
        padding: rem(10) rem(18);
      }

    }

    &-phone {
      margin-inline: auto 10%;
      white-space: nowrap;
      color: var(--color-title-second);
      transition: color var(--transition-base-time) ease-in-out;
      @keyframes phone-animate {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-20%);
        }
      }
      &:hover {
        animation: phone-animate 700ms infinite alternate ease-in-out;
        color: green;
      }

      @include tablet {
        display: none;
      }
      @include mobile {
        display: block;
        padding: rem(10) rem(18);
        margin: 0;
      }

    }

  }

  .burger-button {
    @include square(rem(44));
    position: relative;
    z-index: 1000;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(8.5) rem(4.25);
    color: var(--color-title-second);
    background-color: transparent;
    border: none;

    &.is-active {
      .burger-button__line {
        &:first-child {
          rotate: 45deg;
          transform-origin: 0;
          translate: 0.3em 0;
        }

        &:nth-child(2) {
          rotate: -45deg;
        }

        &:last-child {
          width: 0;
        }
      }
    }

    &__line {
      width: 100%;
      height: rem(2);
      background-color: currentColor;
      border-radius: 1rem;
      transition-duration: var(--transition-base-time);

      &:last-child {
        align-self: end;
        width: 55%;
      }
    }
  }

}
